/*Sections*/
body {
	font-family: "Fira Sans", Verdana, Helvetica, Arial, sans-serif;
    /*text-align:justify;*/
    line-height: 1.5;
    hyphens:auto;
}


main {
	float:left;
    padding-left:10%;
}

h1,h2,h3 {
    line-height: normal;
}

ul {
    padding-left: 1.2em;
}

details {
    cursor: pointer;
}


.myTable {
    width: initial;
    border-collapse: separate;
    /* border-spacing: 30px; */
}

.myTable th {
    text-align: left;
    padding-right: 20px;
}

.myTable td {
    text-align: center;
}


#T_summary {
    border: 1px solid;
    line-height: normal;
    border-collapse: collapse;
}

#T_summary thead th {
    border-bottom: 1px solid;
}

#T_summary thead th:nth-child(2) {
    border-left: 1px solid;
    padding-left: 5px;
}

#T_summary thead th:nth-child(4) {
    border-right: 1px solid;
    padding-right: 10px;
}

#T_summary thead th:nth-child(5) {
    padding-left: 5px;
}

#T_summary thead th:nth-child(7) {
    border-right: 1px solid;
    padding-right: 10px;
}

#T_summary thead th:nth-child(8) {
    padding-left: 5px;
}

#T_summary tbody th {
    font-weight: normal;
    text-align: left;
    padding-right: 5px;
    border-right: 1px solid;
}

#T_summary td:nth-child(2) {
    text-align: center;
}

#T_summary td:nth-child(4) {
    text-align: center;
    border-right: 1px solid;
}

#T_summary td:nth-child(5) {
    text-align: center;
}

#T_summary td:nth-child(7) {
    text-align: center;
    border-right: 1px solid;
}

#T_summary td:nth-child(8) {
    text-align: center;
}

#T_summary td:nth-child(10) {
    text-align: center;
}
