/*Sections*/
body {
	font-family: "Fira Sans", Verdana, Helvetica, Arial, sans-serif;
    /*text-align:justify;*/
    line-height: 1.5;
    hyphens:auto;
}


main {
	padding-left:10%;
}

h1,h2,h3 {
    line-height: normal;
}

/*ul {
    padding-left: 1.2em;
}*/


.table {
    width: initial;
    border-collapse: separate;
    /* border-spacing: 30px; */
}

.table th {
    text-align: left;
    padding-right: 20px;
}

.table td {
    text-align: center;
}