/*Sections*/
body {
	font-family: "Fira Sans", Verdana, Helvetica, Arial, sans-serif;
    /*text-align:justify;*/
    line-height: 1.5;
    hyphens:auto;
}


main {
	float:left;
    padding-left:10%;
}

h1,h2,h3 {
    line-height: normal;
}

ul {
    padding-left: 1.2em;
}


.myTable {
    width: initial;
    border-collapse: separate;
    /* border-spacing: 30px; */
}

.myTable th {
    text-align: left;
    padding-right: 20px;
}

.myTable td {
    text-align: center;
}


#T_summary thead th:nth-child(4) {
    padding-right: 10px;
}

#T_summary thead th:nth-child(7) {
    padding-right: 10px;
}

#T_summary tbody th {
    padding-right: 10px;
    text-align: left;
}

#T_summary td:nth-child(4) {
    text-align: center;
}

#T_summary td:nth-child(7) {
    text-align: center;
}

#T_summary td:nth-child(10) {
    text-align: center;
}
